@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,900;1,500&display=swap');
body{
    background-color: #24252A;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
  
img.logo{
    width: 100px;
    cursor: pointer;
}
.nav li{
    display: inline-block;
    padding: 0px 20px;
}
.nav li a{
    transition: all 0.3s ease 0s;
}

.nav li a:hover{
    color:#0088a9;
}

button{
    padding: 9px 25px;
    background-color: rgb(0, 87, 108);
    border: none;
    border-radius: 55px;
    cursor:pointer; 
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 57, 71, 0.8);
}

li, a, button{
    font-family: "Montserrat",sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: aliceblue;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.container{
    width: 100%;
    position: relative;
}
.backgrnd img{
    width: 100%;
}
.scroll{
    width: 10%;
}
.container .greating{
    color: #fdfbfb;
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    font-size: 1000%;
    left: 35%;
    right: 50%;
    top: 15%;
    position: absolute;
    
}

.container .my_name{
    color: #fdfbfb;
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    font-size: 500%;
    left: 35%;
    right: 50%;
    top: 82%;
    position: absolute;
}

.container .Iam{
    color: #fdfbfb;
    font-family: "Montserrat",sans-serif;
    font-weight: 100;
    font-size: 100%;
    left: 30%;
    right: 50%;
    top: 90%;
    position: absolute;
}

.container .scroll{
    left: 90%;
    top: 45%;
    position: absolute;
}

.container2{
    width: 100%;
    position: relative;
}

.container2 .my_name{
    color: #fdfbfb;
    font-family: "Montserrat",sans-serif;
    font-weight: 800;
    font-size: 500%;
    left: 35%;
    right: 50%;
    top: 0%;
    position: absolute;
}

.container2 .whiteBox {
    width: 300px;
    height: 300px;
    border: 5px solid rgb(120, 120, 76);
    background-color: rgb(223, 223, 223);
    padding: 50px;
    margin: 20px;
    right: 41%;
    top: 33%;
    position:absolute;
    border-radius: 10px;
  }

.container3{
    width: 100%;
    position: relative;
}

.container3 .table{
    padding: 50px;
    margin: 20px;
    left: 28%;
    top: 33%;
    position:absolute;
    border-radius: 10px;
}

.container4{
    width: 100%;
    height: 1000px;
    position: relative;
    background-image: url("images/pattern.webp");
    background-size: 50px;
    padding: 100px;
}

.column {
    float: left;
    width: 33.33%;
    padding-right: 250px;
    padding-left: 250px;
    padding-top: 50px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }